
  <h2>Search for a Vintage Movie!</h2>

  <form role="form">

    <div class="form-group">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Movie Title" ng-model="searchString">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" ng-click="searchInventory(searchString)">Find It!</button>
        </span>
      </div>
    </div>

  </form>
  
  <button class="btn btn-default" ng-click="searchInventory('{')">... or List Everything Available!</button>


