<div ng-controller="InventoryAddController">

  <h2>Add To My Movies</h2>
  
  <form>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" type="text" ng-model="title" ng-enter="byTitle(title);" placeholder="Search By Title">
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="byTitle(title);">Search</button>
        </span>
      </div>
    </div>    
  </form>

  <p class="alert alert-danger" ng-show="error">{{error}}</p>
  <p class="alert alert-warning" ng-if="results.length == 0">No results found.</p>
  <p ng-show="isSearching"><i class="fa fa-spin fa-spinner fa-2x"></i></p>
  
  <p>&nbsp;</p>
  
  <div ng-show="results" ng-hide="selected">
    <div ng-repeat="result in results" class="media">
      <div class="pull-left">
        <img class="media-object" ng-src="{{imgPrefix}}{{result.poster_path}}" alt="" ng-show="result.poster_path">
        <img class="media-object" ng-src="http://placehold.it/92x138&text=No+Poster+Available" alt="" ng-hide="result.poster_path">
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{result.title}}</h4>
        <p ng-show="result.release_date">Released: <em>{{result.release_date}}</em></p>
        <button class="btn btn-sm btn-default" ng-click="select($index)">I have this movie</button>
      </div>
    </div>
  </div>
  
  <div ng-show="selected">
    
    <p class="alert alert-danger" ng-show="addError">{{addError}}</p>
    <p class="alert alert-success" ng-show="addSuccess">
      Successfully added to My Movies.<br />
      <a ui-sref="user-inventory({ userId: authUser.id })" class="btn btn-default btn-sm">Return to My Movies</a>        
    </p>
    
    <div class="media">
      <div class="pull-left">
        <img class="media-object" ng-src="{{imgPrefix}}{{selected.poster_path}}" alt="" ng-show="selected.poster_path">
        <img class="media-object" ng-src="http://placehold.it/92x138&text=No+Poster+Available" alt="" ng-hide="selected.poster_path">
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{selected.title}}</h4>
        <p ng-show="selected.release_date">Released: <em>{{selected.release_date}}</em></p>
        <p ng-hide="addSuccess">
          <div class="form-inline">
            <div class="form-group">
              <select ng-model="selectedCondition" ng-options="option.id as option.label for option in conditionOptions" class="form-control">
                <option value="">Select Condition</option>
              </select>
              <select ng-model="selectedMedium" ng-options="option.id as option.label for option in mediumOptions" class="form-control">
                <option value="">Select Medium</option>
              </select>
            </div>
          </div>
        </p>
        <p ng-show="addSuccess">
          {{selectedCondition}} | {{selectedMedium}}
        </p>
        <p>
          <button class="btn btn-sm btn-success" ng-click="add(selectedCondition, selectedMedium)" ng-disabled="addSuccess">Add to My Movies</button>
          <button class="btn btn-sm btn-default" ng-click="unselect()">Back to results</button>
        </p>
      </div>
    </div>
  </div>
  
</div>