
  <h2>Search for a Vintage Movie!</h2>

  <form role="form">

    <div class="form-group">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Movie Title" ng-model="searchString">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" ng-click="searchInventory(searchString)">Find It!</button>
        </span>
      </div>
    </div>

  </form>
  
  <div ng-repeat="result in invSearchResults" class="media" style="color:white">
    <div class="pull-left">
      <img style="width: 100px" class="media-object" ng-src="https://image.tmdb.org/t/p/w92{{result.info.poster_path}}" alt="" ng-show="result.info.poster_path">
      <img style="width: 100px" class="media-object" src="http://placehold.it/92x138&text=No+Poster+Available" alt="" ng-hide="result.info.poster_path">
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{result.info.title}}</h4>
      <p>Released: <em>{{result.info.release_date}}</em></p>
      <p><img ng-src="http://www.gravatar.com/avatar/asdfasdfasdfasdf" style="width: 40px;" /> <span ng-click="goTo('user')" style="font-size: 20px; vertical-align: middle">David Kingsbury</span></p>
      <p>Condition: <em>{{result.condition}}</em></p>
      <p>Medium: <em>{{result.medium}}</em></p>
    </div>
    <div class="">
      <button class="btn btn-primary btn-request-ship" ng-click="requestShip()">Request Ship</button><button class="btn btn-primary btn-request-meetup" ng-click="requestMeetup()">Request Meetup</button>
    </div>
  </div>
  
  
<!--   <ul style="color:white">
    <li ng-repeat="movie in invSearchResults">{{movie}}</li>
  </ul> -->