<div ng-controller="userCtrl" style="padding: 20px 0 0 0;">
  <div class="row">
    <div class="col-xs-3" style="width: 115px;">
      <img class="user-icon img-rounded" ng-src="assets/avatar-icon.jpg" />
    </div>
    <div class="col-xs-8">
      <div class="user-container">
        <p class="user">{{user.first}} {{user.last}}</p>
        <p class="user-location">{{user.city}}, {{user.state}} {{user.zip}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 user-titles">
      <h3>Titles</h3>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <pre>{{getUserInventory(user)}}"</pre>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>