<div ng-controller="userCtrl" style="padding: 20px 0 0 0;">
  <img class="img-rounded" ng-src="assets/avatar-icon.jpg" style="margin: 0 calc(50% - 75px); width: 150px" />
  <div class="user-container">
    <p class="user" style="margin-top: 20px;">{{user.first}} {{user.last}}</p>
    <p class="user user-sub">{{user.city}}, {{user.state}} {{user.zip}}</p>
    <div class="user-sub-container">
      <div class="movie-block" style="color: white; display: inline-block">
        <div class="user">{{movies.length}}</div>
        <div>Movies</div>
      </div>
      <div class="movie-block" style="color: white; display: inline-block; margin: 0 auto;">
        <div class="user">{{user.followers}}</div>
        <div>Followers</div>
      </div>
      <div class="movie-block" style="color: white; display: inline-block">
        <div class="user">{{user.rating}}</div>
        <div>User Rating</div>
      </div>
    </div>
  </div>
</div>