/*
 * ngRepeat triggers three animation events: enter, leave and move.
 */
 
/* .ng-enter,
.ng-leave,
.ng-move {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
} */

/* ending enter and move styling
   (this is what the element will animate from */
	 
/* .ng-enter, */
/* .ng-move { opacity:0; } */

/* ending enter and move styling
   (this is what the element will animate towards */
	 
/* .ng-enter.ng-enter-active, */
/* .ng-move.ng-move-active { opacity:1; } */

/* starting leave animation */

/* .ng-leave { opacity:1; } */

/* ending leave animation */

/* .ng-leave.ng-leave-active { opacity:0; } */

/*
.ng-enter {
  -webkit-animation: fadeInLeft 0.5s;
  animation: fadeInLeft 0.5s;
}

.ng-leave {
  -webkit-animation: hinge 1s;
  animation: hinge 1s;
}
*/

html, body {
  height: 100%;
}

body {
  background-attachment: fixed;
  background-color: #313131;
  background-image: url(assets/home-bg-00.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  min-height: 100%;
}


h1, h2, h3, h4, h5, h6, p {
  color: white;
}

.jumbotron {
  background: #000;
  background: rgba(0, 0, 0, .2);
}

label {
  color:white;
}

.user-container {
  margin: 10px 0;
}

.jumbotron h1 {
  color: #FF217B;
}

.feature {
  display: block;
  position: relative;
  text-align: center;
}

.feature i {
  background: #000;
  background: rgba(0, 0, 0, .5);
  color: #FF217B;
  display: none;
  height: 100%;
  left: 0;
  padding-top: 50%;
  position: absolute;
  top: 0;
  width: 100%;
}

.feature:hover i,
.feature:focus i {
  display: block;
}

.user {
  font-size: 30px;
  text-align: center;
  line-height: 1em;
}

.user.user-sub {
  font-size: 24px;
}
.user.user-text {
  font-size: 20px;
  margin: 0;
}
.user-sub-container {
  margin-top: 24px;
}
.movie-block {
  background-color: #222222;
  padding: 12px 16px;
  color: white;
  border-radius: 8px;
  text-align: center;
  vertical-align: top;
}

.movie-block.user {
  margin-top: 5px;
}

.movie-block i:not(:last-child) {
  margin-right: 5px;
}

.btn-request-ship {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-request-meetup {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}