/*
 * ngRepeat triggers three animation events: enter, leave and move.
 */
 
/* .ng-enter,
.ng-leave,
.ng-move {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
} */

/* ending enter and move styling
   (this is what the element will animate from */
	 
/* .ng-enter, */
/* .ng-move { opacity:0; } */

/* ending enter and move styling
   (this is what the element will animate towards */
	 
/* .ng-enter.ng-enter-active, */
/* .ng-move.ng-move-active { opacity:1; } */

/* starting leave animation */

/* .ng-leave { opacity:1; } */

/* ending leave animation */

/* .ng-leave.ng-leave-active { opacity:0; } */

/*
.ng-enter {
  -webkit-animation: fadeInLeft 0.5s;
  animation: fadeInLeft 0.5s;
}

.ng-leave {
  -webkit-animation: hinge 1s;
  animation: hinge 1s;
}
*/

body {
    margin-top: 51px !important;
}

ul.movies-list {
  background-color: whitesmoke;
  list-style: none;
  border-radius: 8px;
  padding: 0;
  color: white;
}
ul.movies-list p {
  font-size: 20px;
  line-height: 1em;
}

p.hero {
  font-size: 32px;
  text-decoration: underline;
}

ul.movies-list li {
  width: 100%;
  padding: 12px;
  background-color: #000000;
}

ul.movies-list li img {
  width: 100%;
  border: 1px solid whitesmoke;
}